   <section id="couses">

        <div class="course__title">
            <h1>Courses We Offer</h1>
            <p>Get any of these premium courses absolutely free</p>
        </div>

        <div class="course__container">
            <div class="course__card">
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/c1.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>JavaScript Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/c2.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>CSS Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/c3.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>Python Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/reactjs.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>React.js Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/SQL.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>SQL Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/c4.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>Java Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/c5.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>C Beginner Courses</h3>
                    </div>
                </div>
                
                <div class="course__card__body">
                    <div class="course__card__image">
                        <img src="/images/images/c6.jpg" alt="">
                    </div>

                    <div class="course__card__details">
                        <h3>Angular Beginner Courses</h3>
                    </div>
                </div>

            </div>

            <div class="get__course">
                <button type="button"  onclick="window.location.href='/courses/course.html'">Get Course</button>
            </div>
        </div>

    </section>