<footer>
    <div class="footer__details">
        <div class="footer-col">
            <h3 class="fh3">Advantage</h3>
            <li>Easy To Use</li>
            <li>Provides Best Resourses</li>
            <li>Best Tutors</li>
            <li>Open Source</li>
        </div>

        <div class="footer-col">
            <h3 class="fh3">Features</h3>
            <li>Available For Mobile and Desktop both user</li>
            <li>Optimized For Search and Social Web</li>
            <li>Quality Content</li>
            <li>Well Designed and Functional</li>
        </div>

        <div class="footer-col">
            <h3 class="fh3">Social Media</h3>
            <li><a href="">Instagram</a></li>
            <li><a href=""> Facebook</a></li>
            <li><a href="">Linkedin</a></li>
        </div>
        <div class="footer-col">
            <h3 class="fh3">NewsLetter</h3>
            <form action="" class="News">
                <input type="email" name="" id="" placeholder="Your email address">
                <input type="submit" value="Subscribe" class="yellow">
            </form>
        </div>
    </div>

    <div class="copyright">
        <p>copyright @2022 all rights reserved | This Is made by NewEngineers!</p>
    </div>
</footer>