<header>
    <nav class="navigation__bar">
        <div class="nav__brand">
            <i class="fa-solid fa-school"></i>
        </div>
        <div class="nav__controls ">
            <div id="nav__close">X</div>

            <ul class="nav__items ">
                <li class="nav__link" onclick="window.location.href=' #header'">Home</li>
                <li class="nav__link" id="aboutsection">About</li>
                <li class="nav__link" onclick="window.location.href='#couses'"> Course</li>
                <li class="nav__link" onclick="window.location.href='/contact/contact.html'"> Contact</li>
                <li class="nav__link" id="log"  onclick="window.location.replace('http://localhost:3000/')"> Log-out</li>
            </ul>
        </div>
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div> 
    </nav>

    <section id="home">
        <div class="home__details">
            <div class="home__description">
                <div class="home__title">
                    <h2>Enhance Your Futute With NewEngineers</h2>
                    <p> Always remember that you are absolutely unique. Just like everyone else. </p>
                </div>

                <div class="btn">
                    <a class="blue" href="#couses" >Learn More</a>
                    <a class="yellow" href=" #couses">Visit Course</a>
                </div>
            </div>

            <!-- <div class="home__image">
                    <img src="images/Green Desk Lamp.G03.watermarked.2k.png" alt="">
                </div> -->
        </div>

    </section>


</header>