<main>
    <section>
        <div class="reg__log log__in__container">
            <div class="close__form" id="close__form">
                <i class="fa-solid fa-x"></i>
            </div>
            <div class="form__title">
                <h1>Log-in</h1>
            </div>
            <form action="/home/welcomeback" method="post">
                <div class="user__inputs">
                    <label for="email">Email</label>
                    <input type="email" name="emailId" id="email" placeholder="Enter Your Email">
                </div>

                <div class="user__inputs">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password">
                </div>

                <div class="form__btn">
                    <button type="submit">Sign in</button>
                    <p>Don't have a account with us ? <span id="sign_up">sign-up</span></p>
                </div>

            </form>
        </div>

        <div class="register__container">

            <div class="close__form" id="close__form__2">
                <i class="fa-solid fa-x"></i>
            </div>

            <div class="form__title">
                <h1>Register</h1>
            </div>
            <form action="/home" method="post">
                <div class="user__inputs">
                    <label for="username">User Name</label>
                    <input type="text" name="userName" id="username" placeholder="Enter Your Username">
                </div>

                <div class="user__inputs">
                    <label for="email">Email</label>
                    <input type="email" name="emailId" id="email" placeholder="Enter Your Email">
                </div>

                <div class="user__inputs">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" placeholder="Enter Your Password">
                </div>

                <div class="user__inputs">
                    <label for="c_password">Confirm Password</label>
                    <input type="password" name=cPassword id="c_password" placeholder="Enter Your Password">
                </div>

                <div class="form__btn">
                    <button type="submit">Sign up</button>
                    <p>Alredy have a account with us ? <span id="sign-in">sign-in</span></p>
                </div>

            </form>
        </div>

        <div class="about__section">
            <div class="close__about">X</div>
            <h2>New Engineers</h2>
            <p>
                As we all know that online education is playing major role in education industry. NowDays having
                external source of education has become very important for students, that’s why we have created an
                Online Education Website which is consist of different types of courses. And the course are absolutely
                free of cost. We are providing courses specially for CSE(Computer Science of Engineering) students or
                for those students who are willing to learn computer languages. We are availing courses from best
                Teachers from YouTube and trying to help students by providing them best courses to learn various
                subjects. And we are ensuring that the course provided by us is best to learn that subject / language.
                We are trying to do best from our side.
            </p>
        </div>

        <div class="get__course__popup">
            <div class="close__about close__course">X</div>
            <h3>Oops Seems like your haven't register yet...</h3>
            <p>Please Log-in or Register To Avail All The Courses</p>
        </div>
    </section>

    <section id="experts">
        <div class="experts__title">
            <h1>Community Experts</h1>
            <p>Replenish man have things gathering lights yielding shall you </p>
        </div>

        <div class="expert__box">
            <div class="profile">
                <div class="profile__img">
                    <img src="/images/images/Harry.png" alt="">
                </div>

                <div class="profile__description">
                    <h4>Haris Khan</h4>
                    <p>Python and Algorithm Experts</p>
                </div>
            </div>

            <div class="profile">
                <div class="profile__img">
                    <img src="/images/images/Greatl.png" alt="">
                </div>

                <div class="profile__description">
                    <h4>Great Learning</h4>
                    <p>Web Development Experts</p>
                </div>
            </div>

            <div class="profile">
                <div class="profile__img">
                    <img src="/images/images/ThapaT.png" alt="">
                </div>

                <div class="profile__description">
                    <h4>Thapa Technical</h4>
                    <p>JavaScript Expert</p>
                </div>
            </div>

            <div class="profile">
                <div class="profile__img">
                    <img src="/images/images/Ap2.png" alt="">
                </div>

                <div class="profile__description">
                    <h4>Apna College</h4>
                    <p>Java Experts</p>
                </div>
            </div>

        </div>
    </section>

</main>